RAILS_ENV=production/development/test
RAILS_SERVE_STATIC_FILES=true
DATABASE_URL=postgres://sims@localhost/sims
RAILS_LOG_TO_STDOUT=true
SECRET_KEY_BASE="SECRET_KEY_BASE"

SIMS_DEFAULT_ROOT_PASSWORD="SIMS_DEFAULT_ROOT_PASSWORD"
SIMS_TIMEZONE="SIMS_TIMEZONE"
