p #{Name.human_attribute_name :name}: #{@device.name.full_name}
p #{Name.human_attribute_name :inventory_number}: #{@device.inventory_number}
p #{Name.human_attribute_name :serial_number}: #{@device.serial_number}
p #{Name.human_attribute_name :location}: #{@device.location.full_location}
p #{Name.human_attribute_name :comment}: #{@device.comment}
