.choices__list--dropdown,
.choices__item,
.choices__inner
  background-color: $bg-choice-theme !important
  font-size: 14px !important
  color: $text-choice-theme !important

.choices__list--dropdown,
.choices__inner
  width: 345px !important
  padding-left: 0px !important
  border: $border-theme

.choices[data-type*='select-one']:after
  color: white !important
  border-color: $text-choice-theme transparent transparent transparent !important

.choices__item--selectable
  padding-right: 0px !important

.is-highlighted
  background-color: $highlight-choice-theme !important

.choices__input
  background-color: #d0d6db !important
  color: #343a40 !important

.choices__multi
  .choices__input
    background-color: $bg-choice-theme !important
    color: $text-choice-theme !important

.choices__list--multiple .choices__item
  border: 1px solid white !important
  background-color: #d0d6db !important

.choices[data-type*='select-multiple'] .choices__button
  border-left: 1px solid white !important
